<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left"><i class="ion-close"></i>
    </button><!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center"><!--<a href="index.html" class="logo"><i class="fa fa-paw"></i> Aplomb</a>--> <a
                class="logo"><img src="../../static/adminResources/image/logo.jpg" height="50" width="150"
                                  alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-inner slimscrollleft" id="sidebar-main">
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub"><a href="/admin/load_dashboard" class="waves-effect waves-light"><i
                        class="mdi mdi-home"></i><span> Home </span></a></li>

                <li class="has_sub"><a href="/admin/view_user" class="waves-effect waves-light"><i
                        class="mdi mdi-account-multiple"></i><span> User </span></a></li>

                <li class="has_sub"><a href="/admin/view_classification" class="waves-effect waves-light"><i
                        class="mdi mdi-image"></i><span> Classification </span></a></li>

                <li class="has_sub"><a href="javascript:void(0);" class="waves-effect waves-light"><i
                        class="mdi mdi-database"></i><span> DataSet </span><span class="float-right"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/load_dataset">Add DataSet</a></li>
                        <li><a href="/admin/view_dataset">View DataSet</a></li>

                    </ul>
                </li>

                <li class="has_sub"><a href="/admin/view_complaint" class="waves-effect waves-light"><i
                        class="mdi mdi-comment-multiple-outline"></i><span>Manage Complain </span></a></li>

                <li class="has_sub"><a href="/admin/view_feedback" class="waves-effect waves-light"><i
                        class="mdi mdi-thumb-up"></i><span>Manage Feedback</span></a></li>
                <li class="has_sub"><a href="/admin/logout_session" class="waves-effect waves-light"><i
                        class="mdi mdi-logout"></i><span>Logout</span></a></li>

            </ul>
        </div>
        <div class="clearfix"></div>
    </div><!-- end sidebarinner --></div>